<mat-card>
    <mat-card-title>
        Login
    </mat-card-title>
    <mat-card-content>
        <div class="loginInputs">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Digite seu email" />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Digite seu email" />
            </mat-form-field>
        </div>
        <div class="botao">
            <button>Entrar</button>
        </div>
    </mat-card-content>
</mat-card>