.loginInputs{
    display: flex;
    flex-direction: column;
}

.email{
    width: 300px;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid deepskyblue;
    outline: none;
}

.senha{
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid deepskyblue;
    outline: none;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao button{
    background-color: deepskyblue;
    border: 2px solid deepskyblue;
    color: white;
    padding: 8px 15px;
    width: 100%;
    margin-top: 15px;
    transition: 0.6s;
}

.botao button:hover{
    background: none;
    color: deepskyblue;
    transition: 0.6s;
}