.loginInputs{
    display: flex;
    flex-direction: column;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .example-full-width {
    width: 300px;
    padding: 0px 0;
    margin-top: 5px;
  }

.botao button{
    background-color: deepskyblue;
    border: 2px solid deepskyblue;
    color: white;
    padding: 8px 15px;
    width: 100%;
    margin-top: 15px;
    transition: 0.6s;
}

.botao button:hover{
    background: none;
    color: deepskyblue;
    transition: 0.6s;
}

.loginInputs .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
  /* Font color */
  input.mat-input-element {
    color: white;
  }